<h1>HelloWorld</h1>
<p><strong>With filter</strong>:{{ 'Kevin'|helloworld }}</p>
<p><strong>With function:{{ helloworld('kevin') }}</strong></p>

<h1>Calculate Age</h1>
{{ calculateAge(date('2000-01-25')) }}